footer{
    width: 100%;
    background-color: var(--footer-bg);
    color: white;
  }

  footer > *{
     color: white
  }

  footer .container{
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


footer .container ul{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}

footer .container ul li{
   margin-right: 30px;
}

footer a{

   font-weight: bold;
   font-size:1.3rem;
   color: white;
}

footer .social-links{
   width:200px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top:20px;
}

footer .social-links a{
     color: white;
     font-size: 2rem;

}


footer .logo{
   margin-top:20px;
   margin-bottom: 20px;
   color: white
}
