.mobiles-page,main.page{
   width: 100%;
   padding:50px 20px;
   background-color: var(--main-bg);
   color: var(--text-color);
   min-height: 100vh;

}
.mobiles-page .products,main.page .products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.test{
   width: 300px;
   height: 500px;
   margin-top: 70px;


}

.test > *{
   padding:10px;
   width: 100%;

}

.test .image{
   width: 300px;
   height: 300px;
   background-color: #d9d9d9;
   animation: card-load 2s 0s infinite ease;

}
.test h1{

   width: 100%;
   height: 20px;
   margin-top:20px;
   background-color: #d9d9d9;;
   border-radius: 5px;
   animation: card-load 2s 0s infinite ease;
}

.test small,.test span{
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 20px;
   background-color: #d9d9d9;;
   margin-top:10px;
   border-radius: 10px;
   animation: card-load 2s 0s infinite ease;
}

.test .add-to-cart{
   background-color: white;
   animation: card-load 2s 0s infinite ease;
}



@keyframes card-load {
    0%{
       background-color: white;
    }

    100%{
       background-color: #d9d9d9;
    }
}
